.home-container {
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 1fr;
	height: 100vh;
	width: 100vh;
	margin: 0;
}

.nav-container {
	background-color: #004225;
	color: #f6d172;
	margin: 5px;
}

.main-container {
	grid-column: 2;
}

.nav-links-container {
	margin: 5px;
}

.nav-title {
	margin: 10px 0 10px 5px;
	text-align: center;
}

.nav-link img {
	height: 20px;
	width: 12px;
}

.nav-link a:link,
a:visited {
	color: #f6d172;
	text-decoration: none;
}

.nav-link a:hover, a:visited:hover {
    color: #f6d172;
	text-decoration: underline;
}
